p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-header{height:44px}

.book .book-summary{position:absolute;top:0;left:-300px;bottom:0;z-index:1;width:300px;color:#ffffff;background:#cd5c5c;border-right:1px solid rgba(0,0,0,.07);-webkit-transition:left 250ms ease;-moz-transition:left 250ms ease;-o-transition:left 250ms ease;transition:left 250ms ease}

.book .book-summary ul.summary li.done>a{color:#ffffff;font-weight:400}

.book .book-summary ul.summary li a,.book .book-summary ul.summary li span{display:block;padding:10px 15px;border-bottom:none;color:#ffffff;background:0 0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;position:relative}

.book .book-summary ul.summary li a:hover,.book .book-summary ul.summary li.active>a{color:#cccccc;background:0 0;text-decoration:none}